<!DOCTYPE html>
<html lang="en">
<%- include('include/head') %>

<head>
  <%- include('include/header') %>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>에러페이지</title>
</head>

<body>
  <h1>에러페이지</h1>
  <div><%= err_msg %>[<%= err_code %>]</div>
  <a href="/">홈으로 이동</a>
</body>

</html>