<!DOCTYPE html>
<html lang="en">
    <%- include('include/head') %>
    <link rel="stylesheet" href="/styles/index_styles.css">
    <title>Movie ticket reservation</title>
</head>
<body>
    <%- include('include/header') %>
    <main>
        <%- include('include/movie_list') %>
    </main>
</body>
</html>
