<!DOCTYPE html>
<html lang="ko">
  <%- include('include/head') %>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>좌석 선택</title>
  </head>

  <body>
    <%- include('include/header') %>
    <main>
      <div id="ticket-form">
        <label for="adults">성인</label>
        <input type="number" id="adults" value="0" min="0" />

        <label for="teenagers">청소년</label>
        <input type="number" id="teenagers" value="0" min="0" />

        <label for="seniors">노인</label>
        <input type="number" id="seniors" value="0" min="0" />

        <button onclick="ApplyNumOfPerson()">적용하기</button>
      </div>
      <div class="screen"><span>screen</span></div>
      <div id="seat-wrapper"></div>

      <div class="custom-card">
        <div class="price_wrapper">
          <span class="price_title">총 합계</span>
          <span id="total-price">0원</span>
        </div>
        <div class="button_wrapper">
          <button id="buybutton" onclick="payTicket()">결제하기</button>
        </div> 
      </div>

      <script src="/js/script.js"></script>
    </main>
  </body>
</html>
