<header>
  <div id="page-logo">
    <a href="/">Dongguk Theater</a>
  </div>
  <nav>
    <!-- 사용자 메뉴 -->
    <ul>
      <li><a href="/">영화</a></li>
      <li><a href="/movie/Ticketing">예매</a></li>
      <% if (user && user.is_login_status) { %>
      <a href="/user/profile"><%= user.name %></a>
      <li>로그아웃</li>
      <% } else { %>
      <a href="/login">로그인</a>
      <a href="/signup">회원가입</a>
      <% } %>
    </ul>
  </nav>
</header>