<!-- 영화 리스트 -->
<ul id="movie-list">
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
  <li>
    <img src="image/sibal.webp" alt="Movie" />
    <div>
      <h2 class="Movie-title">abc</h2>
      <p class="age">12</p>
      <p class="running-time">123</p>
    </div>
  </li>
</ul>
