#movie-list {
  display: flex;
  max-width: 1100px;
  padding: 3.875rem;
  margin: 0 auto;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2.5rem 4.4375rem;
  flex-wrap: wrap;
}

#movie-list ul {
  list-style: none;
}

#movie-list li {
  display: flex;
  width: 12.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  flex-shrink: 0;
}

#movie-list li .poster {
  width: 12rem;
  height: 17.25rem;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #333;
}

#movie-list li .movie_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-list li .movie_title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#movie-list li .movie_title_wrapper .grade_img {
  margin-right: 5px;
  width: 22px;
  height: 22px;
}

#movie-list li .movie_title_wrapper .movie-title {
  color: #2e2e2e;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap; /* 글자를 여러 줄로 강제로 바꾸지 않음 */
  overflow: hidden; /* 넘친 부분을 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 "..."을 표시 */
  max-width: calc(12rem - 27px);
}

#movie-list li .movie_title_wrapper .movie-title:hover {
  color: #535353;
}
li .running_time_wrapper {
  display: flex;
  align-items: center;
}

li .running_time_wrapper .clock-icon {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

li .running_time_wrapper .running-time {
  color: #2e2e2e;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}
