.login-form,
.caption {
  width: 30rem;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
}
.login-form h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

.int-area {
  padding-left: 2rem;
  width: 400px;
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.int-area:first-child {
  margin-top: 0;
}

.int-area label {
  padding: 0 2rem;
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  transition: top 0.5s ease;
}

.int-area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}

.int-area input {
  display: block;
  width: 100%;
  padding: 40px 10px 10px;
  background-color: #fff;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

.int-area input:focus {
  outline: none;
}

@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #166caa;
}

.btn-area {
  margin-top: 30px;
  padding: 0 1rem;
}

.btn-area button {
  width: 100%;
  height: 50px;
  margin: 0px 10px;
  color: #fff;
  background: #e28282;
  border: none;
  border-radius: 0.625rem;
  font-size: 20px;
  cursor: pointer;
}

.caption {
  margin-top: 2rem;
  padding: 0;
}

.caption a {
  padding: 0 20px 0 30px;
  font-size: 16px;
  color: blue;
  text-decoration: none;
}

#google_login_btn {
  flex-shrink: 0;
  cursor: pointer;
}

#google_login_btn img {
  width: 300px;
  flex-shrink: 0;
  cursor: pointer;
}
