.container {
  margin: 90px auto 50px auto;
  width: 60%;
  display: flex;
}

.container .poster {
  width: 350px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px #333;
}

.container .title {
  font-size: 2rem;
}

.container .movie_info {
  margin-top: 20px;
}

.container ul {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0;
  color: rgb(58, 58, 58);
}

.container ul li {
  padding: 0 15px;
  border-right: 1.5px solid rgb(58, 58, 58);
}

.container ul li:first-child {
  padding-left: 0;
}

.container ul li:last-child {
  padding-right: 0;
  border-right: none;
}

.trailer_container {
  width: 70%;
  margin: 0 auto;
}

.trailer_container .trailer_header {
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgb(58, 58, 58);
}

.trailer_container .trailer_list {
  margin-top: 10px;
}

.trailer_video_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer {
  height: 50px;
}
