body {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}
h3 {
  margin-top: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.order-list {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.order-item img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.order-item div {
  flex: 1;
}
