#seat-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#ticket-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#ticket-form label {
  display: inline-block;
  width: 4rem;
  text-align: center;
}

#ticket-form input {
  width: 50px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#ticket-form button {
  background-color: #4c51bf;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.screen {
  width: 60%;
  height: 40px;
  color: #fff;
  background-color: #606060;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  margin-bottom: 30px;
}

.seat {
  width: 50px;
  height: 30px;
  margin: 5px;
  background-color: #ddd;
  border: 1px solid #aaa;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
}

.seat.selected {
  background-color: #3498db;
}

.seat.ordered {
  background-color: #2f2f2f;
}

.seat.blocked {
  display: none;
}

.custom-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  width: 60%;
  height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #fff;
}
.custom-card .price_wrapper .price_title {
  display: inline-block;
  margin-right: 10px;
  color: #424242;
}

.custom-card .price_wrapper #total-price {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 10px;
  color: #222222;
  font-weight: 700;
}

.custom-card .button_wrapper #buybutton {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(255, 152, 170);
  color: #fff;
}
